<div class="container">
  <h1>Imagen Incrustada</h1>
  <div class="container-image">
    <img src="https://scontent.ftgz3-1.fna.fbcdn.net/v/t1.6435-9/41632361_955400924645208_8394385332308541440_n.png?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeF5o9XhJYdxJ_6ArFzOD7MQFGAOrRWeugUUYA6tFZ66BUq_Moss-98zP08VG84ng-NTGGwDCFUpoMqmsSexTUSX&_nc_ohc=mGT6xyfgC7oAX-TpPy5&_nc_ht=scontent.ftgz3-1.fna&oh=00_AfAnrNCKW5cU204MRaQ6JkqDm3NsbrwxqhCgbEoBs3joCw&oe=652940C5" alt="Imagen" />
  </div>

  <button class="btn" (click)="redireccionar()">Ir al Inicio</button>
</div>
